{%extends 'base.html'%}



{%block title%}password change{%endblock%}





{%block content%}
<style>
#id_email{
	border:1px blue solid;
	background-color:white;
}


</style>






<div class="mt-20 mx-auto max-w-sm p-6 bg-gray-300 border border-gray-400 rounded-lg shadow-sm dark:bg-gray-400 dark:border-gray-700">
    
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Reset Password</h5>
    <form method="post" class="card"  >
		{% csrf_token %}
	    <h2 class="text-center"></h2>
		{% for f in form %}
	    		{{ f.label_tag }} 
	        	{{ f }}
	        	{% if f.errors %}
	        		<small>{{ f.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<div class="form-buttons  mt-3">
			<input   type="submit" value="Send" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-blue-800">
			        			<a href="{%url 'myapp:login' %}"  class=" inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800e">Cancel</a>

		</div>

	</form>
    
</div>

{%endblock%}