{%extends 'base.html'%}
{%block title%}choose  password{%endblock%}


{%block content%}
<style>

    #id_new_password1{
        border:1px blue solid
    }
    #id_new_password2{
        border:1px blue solid
    }

</style>





 <div class="">
<div class="mt-20 bg-white max-w-xl shadow-lg   mx-auto border-b-4 border-green-500 rounded-2xl overflow-hidden  hover:shadow-2xl transition duration-500 transform hover:scale-105 cursor-pointer" >
<div class="bg-green-500  flex h-20  items-center">
<h1 class="text-white ml-4 border-2 py-2 px-4 rounded-full">1</h1>
<p class="ml-4 text-white uppercase">Reset Pssword</p>
</div>
  <p class=" py-10 px-10 text-lg tracking-wide text-center">please write the password you want</p>
            <form method="post" class="py-5 px-8">    
    {% csrf_token %}

    {% for f in form %}
        <div class="mb-4 flex flex-col">
            <label class="mb-1 font-medium text-gray-700">{{ f.label }}</label>
            {{ f }}
            {% if f.errors %}
                <small class="text-red-600">{{ f.errors|striptags }}</small>
            {% endif %}
        </div>
    {% endfor %}

    <div class="flex justify-center px-5 mb-2 text-sm">
        <button type="submit" 
                class="border border-green-500 text-green-500 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:bg-green-600 focus:outline-none focus:shadow-outline">
            Reset Password
        </button>
    </div>
</form>

</div>
</div>





{%endblock%}




